$--color-white: #fff;

$--color-menu-bg: #2a3c59;

$--color-bg: #f9f9f9;

$--color-nav-active: #e5f4ff;

$--color-border: #ebeef5;

$--color-text-title: #292e41;
$--color-text-regular: #595959;
$--color-text-secondary: #cbced8;
$--color-text-active: #3aa2eb;

$--color-primary: #3ba5ff;
$--color-warning: #faa51f;
